<h1>Olá, <%= @leitor.nome_completo %>!</h1>

<p>Sua senha de empréstimo foi gerada com sucesso.</p>

<p><strong>Senha:</strong> <%= @leitor.senha_emprestimo %></p>

<p>Guarde esta senha, pois será necessária para realizar empréstimos no sistema.</p>

<p>Atenciosamente,<br>Equipe da Biblioteca</p>
