<h1>Olá <%= @usuario.nome %>!</h1>

<p>Você solicitou a redefinição de senha.</p>

<p>
  Clique no link abaixo para alterar sua senha:
</p>

<p>
  <a href="<%= @url %>"><%= @url %></a>
</p>

<p>Se você não solicitou, pode ignorar este email.</p>
